@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins' ; 
   
    box-sizing: border-box;
}

	
.container{
    width: 1100px;
    height: 650px;
    background-color: rgb(201, 240, 227);
    margin:auto;
    line-height: 0.5;
   
}

.image{
    float: left;
}
.image img{
    width: 250px;
    height: 110px;
    margin-top: 1em;
    margin-left: 0.3em;
}

.photo{
    float: right;

}

.photo button{
    width: 100px;
    height: 100px;
    background: transparent;
    margin-right: 3.4em;
    background-color: rgba(137, 145, 154, 0.199);
    margin-top: 1.8em;
    font-size: 1.2em;

}
.text{
    text-align: center;
    padding-top: 0.01em;
    margin-right: 24%;
}





.text button{
    width: 200px;
    height: 55px;
    border: 3px;
    border-style: solid ;
    border-color: black;
    border-radius: 11px;
    font-size: x-large;
    font-weight: bolder;
    background: transparent;
    text-align: center;
    margin-bottom: 15px;
    background-color: rgba(137, 145, 154, 0.199);
}

.tab-1{
    width: 95%;
    align-items: center;
    border-collapse: collapse;
    height: 115px;
    margin-left: 27px;
    border-color: black;
    font-size: 1.2em;
    font-weight: bold;  
    font-family: 'Poppins';  
}
.t-1{
    padding-left: 0.3em;
}
.tab-2{
    margin-top: 15px;
    width: 95%;
    border-collapse: collapse;
    height: 250px;
    margin-left: 27px;
    border-color: black;
    font-size: large;
    font-weight: lighter;
    text-align: center;
}

.d-1{
    background-color: rgba(137, 145, 154, 0.199);
    font-weight: bold;
    text-align: center;
}
.d-2{
    background-color: rgba(137, 145, 154, 0.199);
    text-align: center;
    font-weight: bold;
}


.sign-1{
    list-style: none;
    float: left;
    line-height: 1.2;
    margin-bottom: 0;
}
.sign-2{
    list-style: none;
    float: right;
    margin-bottom: 0;
    line-height: 1.2;
}

.hr-1{
    border: none;
    background-color: black;
    width: 120px;
    height: 2px;
    float: left;
    margin-top: 2.6em;
    margin-left: 10.5em;
    color: black;
}
.hr-2{
    border: none;
    background-color: black;
    width: 120px;
    height: 2px;
    float: right;
    margin-top: 2.6em;
    margin-right: 1em;
    color: black;
}
.li-1{
    margin-left: 11.2em;
    width: auto;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.li-2{
    margin-left: 11.2em;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.li-3{
    margin-left: 0.6em;
    width: auto;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.li-4{
    margin-left: 0.6em;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer{
    background-color: navy;
    width: auto;
    margin-top: 5em;
    font-family: sans-serif;
}
.ft{
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.btn{
    float: right;
    margin-top: 5.4em;
}
.btn button{
    width: 200px;
    margin-top: 1.3em;
    height: 40px;
    cursor: pointer;
    font-size: 1.5em;
}
.fa-facebook{
    color: white;
    padding-top: 5px;
    
}
.fa-facebook:hover{
    color: rgb(235, 87, 19);
    transition: 0.5s;
}




